!!! XML
!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Picard
  %body
    #header
      %h1 Picard Header
    #body
      =body
    #footer
      This is the footer, roll the credits